<<<<<<< HEAD
<% layout('/layouts/boilerplate') -%>
<body>
  <h3>All listings</h3>
  <!-- <form action="/listings/new">
    <button>Create New</button>
  </form> -->
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <%for (let listing of allListings) {%>
    <a href="listings/<%=listing._id%>" class="listing-link"
      ><div class="card col">
        <img
          src="<%=listing.image%>"
          class="card-img-top"
          alt="..."
          style="height: 20rem"
        />

        <div class="card-img-overlay"></div>

        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title%> </b>
            <br />
            &#8377;<%= listing.price.toLocaleString("en-IN") %> / night
          </p>
        </div>
      </div></a
    >
    <%}%>
  </div>
</body>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
    <style>
      a {
        color: black;
        text-decoration: none;
        font-size: 1.1rem;
      }
      a:hover {
        color: white;
        background-color: black;
      }
      ul {
        list-style-type: disclosure-closed;
      }
    </style>
  </head>
  <body>
    <h3>All listings</h3>
    <form action="/listings/new" method="get">
      <button>Create New</button>
    </form>
    <ul>
      <%for (let listing of allListings) {%>
      <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
      <%}%>
    </ul>
  </body>
</html>
>>>>>>> ad1c9854af854dd951a8c1d88bbed031722ce51f
